
.grid-list {
    
}
.item-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: var(--light-color);
}
.item-list {
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.item-header div,
.item-list div {
    flex: 1;
    padding: 15px;
}

.item-list .col-action {  
    display: flex;
    justify-content: space-around;
}   

.item-list .col-action button {
    
}